<div class="jumbotron text-center">
	<b><h2>Memory Usage</h2></b>
	<form>
		<label><input type="radio" name="mode" value="MemoryUsage"> Memory Usage</label>
		<label><input type="radio" name="mode" value="CPUUsage" checked> CPU Usage</label>
	</form>
	<div id="memoryLineChart" ng-app='sampleApp' ng-controller="LineController"><svg width="960" height="500"></svg></div>
	<!--<p><div ng-app='sampleApp'>
            <nvd3-line-chart
                data="exampleData"
                showXAxis="true"
                showYAxis="true"
                tooltips="true"
                interactive="true">
            </nvd3-line-chart>
    </div></p>-->
</div>


